implementar.go
clases/instrucciones/Declaracion/__pycache__
pruebas/
salida.txt
clases/instrucciones/Condicionales/__pycache__
clases/instrucciones/Ciclos/__pycache__
clases/instrucciones/Funciones/__pycache__
clases/instrucciones/Arreglos/__pycache__